.section-subtitle {
    color: var(--amicci-color);
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
    position: relative;
}

.section-subtitle::before,
.section-subtitle::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.section-subtitle::before {
    bottom: -1px;
    width: 50px;
    border: 1px solid var(--amicci-color);
    border-radius: 1rem;
}

.section-subtitle::after {
    bottom: -0.25rem;
    width: 8px;
    height: 8px;
    background-color: var(--amicci-color);
}

.section-title {
    font-size: var(--h2-font-size);
    max-width: 550px;
    margin: 1rem auto 3rem;
}

.section-title span {
    color: var(--first-color);
}