.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav,
.nav-buttons {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-between;
    height: 5.5rem;
    column-gap: 4.75rem;
}

.nav-logo-img {
    width: 170px;
}

.nav-menu {
    flex-grow: 1;
}

.nav-list {
    display: flex;
    column-gap: 2rem;
}

.nav-link,
.nav-toggler {
    color: var(--white-color);
}

.nav-link {
    font-size: 1.06rem;
    text-transform: capitalize;
    position: relative;
    transition: color 0.5s;
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    top: -0.75rem;
    width: 0;
    height: 3px;
    background-color: var(--first-color);
    border-radius: 1rem;
    transition: width 0.5s ease;
}

.nav-buttons {
    column-gap: 2rem;
}

.nav-toggler {
    font-size: 1.75rem;
    display: none;
}

/* Activate link */

.nav-link:hover {
    color: var(--first-color);
}

.nav-link:hover::before{
    width: 20px;
}