.footer {
    background-color: hsl(var(--hue), 0%, 10%);
    padding-bottom: 0;
}

.footer-container {
    grid-template-columns: 4fr 8fr;
    gap: 2.5rem;
}

.footer-logo-img,
.footer-link {
    cursor: pointer;
}

.footer-logo-img {
    width: 200px;
}

.footer-description,
.footer-newsletter,
.footer-title,
.footer-link,
.opening-item,
.footer-icon,
.footer-subtitle,
.footer-info,
.footer-copy {
    color: var(--white-color);
}

.footer-description {
    margin-block: 1rem 1.5rem;
}

.footer-newsletter {
    margin-bottom: 1.25rem;
}

.footer-form {
    position: relative;
}

.footer-input {
    background-color: var(--white-color);
    padding: 1rem 8rem 1rem 3rem;
    border-radius: 2rem;
    width: 100%;
}

.footer-form-icon,
.footer-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footer-form-icon {
    color: var(--first-color);
    left: 1.25rem;
}

.footer-button {
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    right: 0.25rem;
}

.footer-group {
    grid-template-columns: 1.5fr 3.5fr 3fr;
    gap: 2.5rem;
}

.footer-title {
    font-size: var(--larger-font-size);
    margin-bottom: 1.5rem;
    position: relative;
    padding-bottom: 0.75rem;
}

.footer-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: var(--first-color);
    border-radius: 1rem;
}

.footer-links {
    row-gap: 1.25rem;
}

.footer-link {
    text-transform: capitalize;
    transition: color 0.5s;
}

.footer-link:hover {
    color: var(--first-color);
}

.footer-opening {
    background-color: hsl(var(--hue), 0%, 16%);
    padding: 1.5rem 1.25rem;
    row-gap: 0.75rem;
}

.opening-item{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.75rem;
    border-bottom: 1px dashed var(--white-color);
}

.closed {
    color: var(--first-color);
}

.footer-contact {
    row-gap: 2rem;
}

.footer-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 0.75rem;
}

p.footer-info {
    font-size: var(--normal-font-size);
    margin-bottom: 2rem;
}   

.footer-icon {
    width: 35px;
    height: 35px;
    background-color: var(--amicci-color);
    border-radius: 50%;
    font-size: 1rem;
    display: grid;
    place-items: center;
}

.footer-icon:hover {
    background-color: var(--first-color);
    transition: background-color 0.5s ease;
    transform: scale(125%);
    cursor: pointer;
    color: var(--amicci-color);
}

.footer-subtitle {
    font-size: var(--normal-font-size);
    margin-bottom: 0.25rem;
}

.footer-bottom {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
    border-top: 2px dashed var(--text-color);
}

.footer-socials {
    display: flex;
    column-gap: 1rem;
}

.footer-social-link {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--amicci-color);
    display: grid;
    place-items: center;
    transition: 0.5s background, 0.5 color;
}

.footer-social-link:hover {
    background-color: var(--first-color);
    color: var(--amicci-color);
    transition: 0.3s ease;
    transform: scale(110%);
}