/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1208px) {
    .swiper-btn {
        width: 45px;
        height: 45px;
    }
}

/* For medium devices */
@media screen and (max-width: 1024px) {
    .nav-menu {
        position: absolute;
        inset: 5rem 0 auto;
        background-color: var(--body-color);
        max-height: 0;
        overflow: hidden;
        box-shadow: 0 4px 16px hsla(var(--hue), 90%, 8%, 0.1) !important;
        transition: max-height 0.5s;
    }

    .show-menu {
        max-height: 500px;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
        padding-block: 1.75rem;
    }

    .nav-link:not(.active) {
        color: var(--title-color);
    }

    .nav-toggler {
        display: inline-flex;
    }

    .swiper-btn {
        right: 2.5rem;
        top :initial;
        bottom: 4rem;
    }

    .prev-btn {
        left: initial;
        right: 6rem;
    }

    .container {
        max-width: 720px;
    }

    .reservation-group,
    .reservation-group:last-child,
    .about-container {
        grid-template-columns: 1fr;
        row-gap: 1.25rem;
    }

    .reservation-title {
        margin-left: 0.25rem;
        margin-bottom: 0;
    }

    .reservation-button {
        justify-self: center;
        z-index: initial;
    }

    .features-container,
    .menu-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2.5rem ;
    }

    .features-title {
        margin-top: 1.25rem;
    }

    .about-container {
        row-gap: 2rem;
    }

    .about-shape {
        max-width: 550px;
        justify-self: center;
    }

    .about-experience {
        scale: 0.9;
    }

    .about-content .section-title {
        max-width: initial;
    }

    .menu-header {
        flex-direction: column;
        margin-bottom: 2.5rem;
        align-items: flex-start;
    }

    .menu .section-title {
        margin-bottom: 2rem;
    }

    .gallery-container {
        column-count: 2;
    }

    .footer-container {
        grid-template-columns: 1fr;
        row-gap: 3.5rem;
    }

    .footer-group {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-buttons .button {
        display: none;
    }

    .home-data {
        padding-top: 6rem;
    }

    .footer-bottom {
        flex-direction: column;
        row-gap: 1.25rem;
    }

    .footer-copy {
        order: 1;
    }
}

/* For small devices */
@media screen and (max-width: 576px) {

    .features-container,
    .menu-container {
        grid-template-columns: fit-content(350px);
        justify-content: center;
    }

    .about-data {
        grid-template-columns: 1fr;
    }

    .gallery-container {
        column-count: 1;
    }

    .footer-group {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 460px) {
    .about-shape {
        column-gap: 0.75rem;
    }

    .about-experience {
        scale: 0.8;
    }
}